.mt-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem !important;
  border-radius: 50%;
}
.product-row {
  border-bottom: 1px solid #dee2e6;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center; 
}

.product-list {
  margin-top: 20px;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* General button styles */
.step-button {
  margin: 0 10px; /* Spacing between buttons */
  border-radius: 20px; /* Rounded borders */
  padding: 10px 20px; /* Padding around text */
  font-weight: bold; /* Bold font for button text */
  flex-grow: 1; /* Buttons will grow to fit the container */
  text-align: center; /* Center text within the button */
  background-color: #e9ecef; /* Default grey background for buttons */
  color: #6c757d; /* Dark grey text */
  border: none; /* Remove border */
}

/* Active button style */
.step-button.active {
  background-color: #007bff; /* Blue background for active button */
  color: white; /* White text */
}

/* Hover effect for buttons */
.step-button:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
  color: white; /* White text */
}

.cartImage{
  max-width: 100px;
  max-height: 100px; 
} 

  
  